{% extends 'template_base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <img class="mx-auto d-block" src="{% static 'img/logo.png' %}" alt="logo">
            <h3 class="text-center"><strong>C.A. Hydroponics</strong></h3>

            <form method="post" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username"></label>
                    <input type="text" name="username" autofocus="" required="" id="id_username"
                           class="form-control" placeholder="Ingresa tu usuario" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" name="password" required="" id="id_password"
                           class="form-control" placeholder="Ingresa tu contraseña" autocomplete="new-password">

                </div>
                <input autocomplete="false" name="hidden" type="text" style="display:none;">
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>



        </div>
    </div>


{% endblock %}




