<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        {#        <div id="dismiss">#}
        {#            <i class="fas fa-times"></i>#}
        {#        </div>#}

        <div class="sidebar-header mb-2">
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-user-circle fa-2x"></i>
                </div>
                <div class="col-10">
                    <p>{{ user.get_full_name  }}</p>
                </div>
            </div>
        </div>

        <ul class="list-unstyled components">
            <li class="">
                <a href="/farm"><i class="fas fa-home"></i>  Mis Huertos</a>
            </li>

            <li class="">
                <a href="/tips"><i class="fas fa-lightbulb"></i>  Sugerencias</a>
            </li>

            <li class="">
                <a href="/chat"><i class="fas fa-comments"></i>  Mensajes</a>
            </li>

            <li class="">
                <a href="/help"><i class="fas fa-question-circle"></i>  Ayuda</a>
            </li>

        </ul>
    </nav>

    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>