{% extends 'template_base.html' %}
{% load static %}
 {% load humanize %}

{% block menu %}
    {% include 'sidebar.html' %}

    <nav class="navbar shadow-sm">
        <a class="navbar-brand" id="sidebarCollapse" href="#">
            <img src="{% static 'img/logo.png' %}" width="34" height="34" alt="menu">
        </a>

        <ul class="nav navbar-nav abs-center-x">
            <li class="nav-item">
                <a class="nav-link" href="/farm">
                    <strong>Detalles</strong>
                </a>
            </li>
        </ul>

    </nav>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h5 class="">{{ farm.seed.name }}</h5>
            <p><small>Actualizado {{ farm.last_date|naturaltime }}</small></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>temp_air: {{ farm.sensor_temp_air }}</p>
        </div>
        <div class="col">
            <p>temp_water: {{ farm.sensor_temp_water }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>light: {{ farm.sensor_light }}</p>
        </div>
        <div class="col">
            <p>wetness: {{ farm.sensor_wetness }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="/farm/{{ farm.id }}/history">
                <img src="{% static 'img/chart.png' %}" alt="history">
            </a>
        </div>
    </div>

{% endblock %}
